body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  
h1, p {
  margin: 0px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
  
.thumbnail{
  border: 3px solid gray;
  height: 150px;
}
 
  
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
  
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #e6e6e6;
  width: 65%;
  height: 75%;
  display:flex;
}
  
#modalImage {
  max-height: 100%;
  max-width: 100%;
}
  
#modalDescription {
  color: black;
}

/*The banner*/
#banner{
  padding:15px;
  width: 100%;
  border-bottom: 3px solid gray;
  margin-bottom: 10px;
  background-color: lightgray;
}

/*The Navbar*/
#navbar{
  display: flex;
  border-bottom: 3px solid gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #65bd71;
}

.active {
  background-color: #1db24c;
}