*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*Navigation Bar*/

nav{
    display: flex;
    background-color: #7d1e2e;
    color: white;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

nav a{
    margin:auto;
    font-size: large;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #611623, 2px 2px 1px #611623, 3px 3px 1px #611623,
    4px 4px 1px #611623, 5px 5px 1px #611623;
}
nav a:hover{
    color:lightpink;
}
.logo{
    height: 100px;
    width: 100px;
}

/*page titles*/
.title{
    text-align: center;
    margin-bottom: 25px;
}

/*Body*/

#grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1{
    color: #7d1e2e;
}

div{
    align-content: center;
}

.location{
    background-color: #F2E8EA;
    padding: 10px;
    border-radius: 15px;
    display: block;
    margin: 10px;    
}

.content{
    display: flex;
}

/*iframes*/
details{
    width: 800px;
}
iframe{
    height: 281px;
    border: 0px;
    display: block;
}

.live{
    width: 500px;
    border-radius: 10px 0px 0px 10px;
}

.weather{
    width: auto;
    border-radius: 0 10px 10px 0;
}

/**advice page**/
.tips{
    margin-left: 25px;
    text-align: center;
    width: 50%;
    margin: auto;
}

h3{
    margin:25px;
}

/**Contact Form**/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #7d1e2e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #611623;
}
  
.container {
    border-radius: 10px;
    background-color: #F2E8EA;
    padding: 20px;
    margin:auto;
    width: 50%;
}

label{
    font-weight: bold;
}