*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*Navigation Bar*/

nav{
    display: flex;
    background-color: #7d1e2e;
    color: white;
    width: 100vw;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

nav a{
    margin:auto;
    font-size: large;
    text-decoration: none;
    color: white;
}
.logo{
    height: 100px;
    width: 100px;
}

/*Body*/

#grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1{
    color: #7d1e2e;
}

div{
    align-content: center;
}

.location{
    background-color: #F2E8EA;
    padding: 10px;
    border-radius: 15px;
    display: block;
    margin: 10px;    
}

.content{
    display: flex;
}

/*iframes*/
details{
    width: 800px;
}
iframe{
    height: 281px;
    border: 0px;
    display: block;
}

.live{
    width: 500px;
    border-radius: 10px 0px 0px 10px;
}

.weather{
    width: auto;
    border-radius: 0 10px 10px 0;
}


